.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.ticket{
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
}

.save-btn{
    -fx-background-color: #16a1f7;
    -fx-cursor: hand;
}

.save-btn:hover{
    -fx-background-color: #5ec1ff;
}

.estilo-pane{
    -fx-background-radius: 8px;
    -fx-background-color: #16a1f7;
}

.btn-cancelar{
    -fx-background-color: #f76045;
    -fx-cursor: hand;
    
}

.btn-cancelar:hover{
    -fx-background-color: #fc9e8d;
}